<h2 mat-dialog-title>Hazards/Events</h2>

<dx-data-grid
id="gridContainer"
keyExpr="id"
[dataSource]="dataSource"
[showBorders]="true"
(onRowInserting)="addImpact($event)" 
(onRowInserted)="onRowInserted($event)" 
(onRowUpdating)="updateImpact($event)"
(onRowRemoving)="deleteImpact($event)"
>
<dxo-export [enabled]="false" [allowExportSelectedData]="true"></dxo-export>
<dxo-sorting mode="multiple"></dxo-sorting>
<dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
<dxo-paging [pageSize]="10"> </dxo-paging>
<dxo-pager
    [visible]="true"
    [allowedPageSizes]="[5, 10, 'all']"
    displayMode="full"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true"
>
</dxo-pager>
<dxi-column dataField="value" caption="Index No" dataType="number" [allowEditing]="false" sortOrder="desc" width="100"></dxi-column>
<dxi-column dataField="eventName" caption="Hazards" dataType="string" ></dxi-column>
    <dxo-editing
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [useIcons]="true"
        >
        <dxo-form >
            <!-- <dxi-item dataField="value" caption="Index No" dataType="number" ></dxi-item> -->
            <dxi-item dataField="eventName" caption="Hazards" dataType="string" ></dxi-item>
        </dxo-form>
        <dxo-popup
            title="Hazard"
            [showTitle]="false"
            [width]="500"
            [height]="250"
        >
        </dxo-popup>
    </dxo-editing>

</dx-data-grid>