<h2 mat-dialog-title>Proposed Changes</h2>
<mat-dialog-content class="mat-typography">

    <dx-data-grid
    id="gridContainer"
    keyExpr="id"
    [columns]="[  
    'DynamicTagName',
    'ProcessMode',
    'TagName',
    'Parameter',
    'ProposedValue',
    'ProposedDate',
    'ProposedBy',
    'ApprovedDateTime',
    'ApprovedBy',
    'DisapprovedDate',
    'DisapprovedBy'
    ]"
    [dataSource]="dataSource"
    [showBorders]="true"
    >
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager
        [visible]="true"
        [allowedPageSizes]="[5, 10, 'all']"
        displayMode="full"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
    >
    </dxo-pager>
    </dx-data-grid>

</mat-dialog-content>
