<mat-toolbar color="primary">
    <mat-toolbar-row class="header">
    <span>Rationalization</span>

    <!-- <div class="comp_info">
        <img src="../../assets/scpl.jpg" class="logo">
        <span>Supra Controls Pvt Ltd</span>
    </div> -->
    </mat-toolbar-row>
</mat-toolbar>
<div class="login-container">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form" (ngSubmit)="login()">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput placeholder="Username"  name="username" [formControl]="username" required>
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <mat-error *ngIf="username.invalid">Username is mandatory</mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Password" [formControl]="password" type="password" name="password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">Password is mandatory</mat-error>

              </mat-form-field></td>
            </tr></table>
            <mat-card-actions class="action_btn">
              <button mat-stroked-button color="primary" class="btn-block" type="submit" >Login</button>
            </mat-card-actions>
    
          </form>
          <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
    </mat-card>
</div>
