<!-- <div class="ref_btn">
    <button mat-icon-button color="primary" (click)="refresh()" aria-label="Example icon button with a home icon">
        <mat-icon>refresh</mat-icon>
    </button>    
</div> -->
<h2 mat-dialog-title>Compare View</h2>
<mat-dialog-content class="mat-typography">
    <dx-data-grid
    class="grid-table"
    id="gridContainer"
    [dataSource]="maindataSource"
    [showBorders]="true"
    (onExporting)="exportCV($event)"
    [allowColumnReordering]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [customizeColumns]="customizeColumns"
    >
        <dxi-column dataField="ProcessModeName" caption="ProcessMode Name" dataType="string" ></dxi-column>
        <dxi-column dataField="TagName" caption="Tag Name" dataType="string" ></dxi-column>
        <dxi-column dataField="TagDescription" caption="Tag Description" dataType="string" ></dxi-column>
        <dxi-column dataField="DesignValue" caption="DesignValue" dataType="number" ></dxi-column>
        <dxi-column dataField="CurrentValue" caption="CurrentValue" dataType="number" ></dxi-column>
        <dxi-column dataField="Parameter" caption="Parameter" dataType="string" ></dxi-column>
        <dxi-column dataField="MinValue" caption="MinValue" dataType="number" ></dxi-column>
        <dxi-column dataField="MaxValue" caption="MaxValue" dataType="number" ></dxi-column>
        <dxi-column dataField="opctag" caption="OPC Tag" dataType="string" ></dxi-column>
        <dxi-column dataField="Unit" caption="Unit" dataType="string" ></dxi-column>
        <dxi-column dataField="Area" caption="Area" dataType="string" ></dxi-column>
        <dxi-column dataField="Plant" caption="Plant" dataType="string" ></dxi-column>

        <dxo-load-panel
        [enabled]="true">
    </dxo-load-panel>
    
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-export [enabled]="true" [formats]="['xlsx', 'pdf']" ></dxo-export>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager
            [visible]="true"
            [allowedPageSizes]="[5, 10, 'all']"
            displayMode="full"
            [showPageSizeSelector]="true"
            [showInfo]="true"
            [showNavigationButtons]="true"
        >
        </dxo-pager>
    </dx-data-grid>
</mat-dialog-content>